

html {
    margin: 2rem;
}

h1 {
    color: #27374D;
    text-align: center;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

h2{
    color: #27374D
}

p{
    color: #27374D;
}

.fs-4 {
  font-family: "bodoni moda", serif;
}

#main-logo {
    font-family: "Bodoni Moda", serif;
    font-weight: bold;
    font-style: italic;
    font-size: 2rem;
    margin-top: 1.2rem;
    margin-bottom: 0rem;
    padding: 0;
    box-sizing: border-box;
  }
  
  @media (max-width: 40rem) {
    #main-logo {
        font-size: 2rem;
    }
  }
  
  .section-title h2 {
  font-family: 'raleway';
  font-size: 3rem;
  font-style: normal;
  font-weight: lighter;
  text-align: center;
  box-sizing: border-box;
  margin: 0;
  padding:0;
  }
  
  .main-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #27374D;
  }
  
  
  .main-header__brand {
    font-family: 'raleway';
    color: #27374D;
    font-size: 2rem;
    text-decoration: none;
    margin: 0 1rem;
  }
  
  .main-header__brand img {
    height: 8rem;
  }
  
  .main-nav {
    display: flex;
  }
  
  .main-nav__items {
    padding: 0;
    margin: 0;
    list-style: none;
    font-family: 'raleway';
    vertical-align: text-top;
    display:flex;
    align-items: center;
  }
  
  .main-nav__item {
    margin: 0 .75rem;
    font-size: 1rem;
    font-family: 'raleway';
  }
  
  .main-nav__item a {
    text-decoration: none;
    color: #9DB2BF;
  }
  
  .main-nav__item a:hover {
    color: white;
  }
  
  .main-nav__item a:active {
    color: white;
  }
  
  .main-nav__item--cta {
    background: white;
    padding: .5rem;
    border-radius: .5rem;
  }
  
  .main-nav__item--cta a:hover {
    color: #27374D;
  }
  


#background-video {
    width: 95vw;
    height: 75vh;
    object-fit: cover;
    /*position: fixed;*/
    left: 1rem;
    right: 0;
    top: 10rem;
    bottom: 0;
    z-index: -1;
    margin-top: 1rem;
  }

  .flex-title-container {
    display: felx;
  }
  
.video-title {
    display: flex;
    justify-content: center;
    align-items: center;
    color:#9DB2BF;
    font-size: 4rem;
    font-family: 'raleway';
    margin-top: -22rem;
    margin-left: 49rem;
}

.video-subtitle {
    display:flex;
    align-items: center;
    justify-content: center;
    color:#9DB2BF;
    font-size: 2rem;
    font-family: 'raleway';
    margin-left: 49rem;
    margin-top: -0.5rem;
}

.wrapper {
  display: grid;
  grid-template-columns: 20% 39% 39%;
  /*grid-template-rows: 4rem 3rem 32rem 29rem 36rem 32rem 32rem 25rem 3rem 3rem 22rem 22rem;*/
  margin-top:18rem;
  grid-column-gap: 20px;
  grid-row-gap: 3rem;
}

  .box1 {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 23;
    background-color: #27374D;
    font-family: 'raleway';
    font-weight: 400;
    list-style: none;
    font-size: 1.5rem;
    text-align: left;
    }

  .nav-title {
    margin-top: 1rem;
    font-size: 2rem;
    font-weight: 500;
    text-align: left;
    margin-left: .4rem;
    position: sticky;
    top: 50px;
    color:#27374D;
  }

  .navigtion-menu {
    list-style: none;
    font-size: 1.5rem;
    position: sticky;
    top: 140px;
    color: #27374D
  }

  a:hover {
      color:#DDE6ED;
  }

  a:active {
    color:#DDE6ED;
    text-decoration: none;
  }

  a:visited {
    color: #27374D; 
    text-decoration: none;
  }

  .box1 a:active {
    color:#DDE6ED;
    text-decoration: none;
  }

  .box1 a:visited {
    color:#DDE6ED;
    text-decoration: none;
  }

  .navigation-menu a {
    text-decoration: none;
  }

  .li {
    font-family: 'raleway';
    font-weight: 400;
    list-style: none;
    font-size: 1rem;
    color: #27374D;
  }

  

  .toja-price {
    font-family: 'raleway';
    font-weight: 400;
    color:#27374D;
  }

  .flat-top-subtitle {
    font-weight: 300;
    color:#27374D;
    font-size: 1.2rem;
  }

  .toja-pros {
    font-family: 'raleway';
    color:#27374D;
  }

  .toja__feature {
    font-family: 'raleway';
    color: #27374D;
    font-size: 1.2rem;
  }



/* General Container Styling */
.box2 {
  grid-column: span 2;
  text-align: center;
  font-family: 'Raleway', sans-serif;
  font-size: 2.5rem;
  color: #27374D;
  font-weight: bold;
  padding: 1rem;
  background-color: #F5F5F5;
  border-radius: 4px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  grid-row-start: 1;
}

.box3 {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #334766;
  color: #FFF;
  font-family: 'Raleway', sans-serif;
  padding: 1rem;
  border-radius: 4px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  grid-row-start: 2;
  grid-column-start: 2;
  grid-column-end: 4;
  font-size: 1.3rem;
}

.box4 {
  grid-column: 3 / 4; /* Ensure .box4 is in the first column */
    grid-row: 3;
}

.box5 {
  grid-column: 2 / 3; /* Make .box5 span across two columns */
    grid-row: 3; 
}


.box4, .box7, .box8, .box11, .box12, .box15 {
  text-align: center;
  padding: 1rem;
  border-radius: 4px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: #FFF;
}

.flat-top-image {
  width: 85%;
  height: auto;
  border-radius: 4px;
  transition: transform 0.3s ease-in-out;
}

.angled-image, .wall-image, .peaked-roof-image, .hexa-image, .triangle-image {
  width: 100%;
  height: auto;
  border-radius: 8px;
  transition: transform 0.3s ease-in-out;
}

.flat-top-image:hover, .angled-image:hover, .wall-image:hover, .peaked-roof-image:hover, .hexa-image:hover, .triangle-image:hover {
  transform: scale(1.05);
}

/* Product Details Box Styling */
.box5, .box6, .box9, .box10, .box13, .box14 {
  background-color: #F5F5F5;
  padding: 1rem;
  border-radius: 4px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  height: fit-content;
  color: #27374D;
  font-size: 1.2rem;
}

.check-price-btn {
  background-color: #334766; /* Button background color */
  color: #FFF; /* Button text color */
  border: none;
  padding: 0.75rem 1.5rem; /* Padding inside the button */
  font-size: 1rem;
  border-radius: 5px; /* Rounded corners */
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.check-price-btn:hover {
  background-color: #161f2c; /* Darker shade on hover */
}


.plan {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 1rem;
}

h2 a {
  text-decoration: none;
  color: #334766;
  font-size: 1.5rem;
  font-weight: bold;
  transition: color 0.3s;
}

h2 a:hover {
  color: #007BFF;
}

.toja-price {
  font-size: large;
  font-weight: bold;
}

.toja-pros {
  font-size: 1.2rem;
  margin-top: 0.5rem;
  color: #555;
}

.toja__feature {
  font-size: 1rem;
  color: #666;
  margin-bottom: 0.5rem;
}

/* Responsive Design */
@media (max-width: 768px) {
  .box2, .box3, .box4, .box5, .box6, .box7, .box8, .box9, .box10, .box11, .box12, .box13, .box14, .box15 {
      margin-bottom: 1rem;
  }

  .plan {
      align-items: center;
      text-align: center;
  }

  h2 a {
      font-size: 1.5rem;
  }

  .toja-price {
      font-size: 1.2rem;
  }
}








      
  .box6 { /*angled roof*/
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 4;
    grid-row-end: 5;
    font-family: 'raleway';
    display: flex;
  }

  .angle-title {
    display: flex;
    font-size: 2rem;
    font-weight: 400;
    font-family: 'raleway';  
    justify-content: flex-start;
    text-align: left;
  }

  .angle-subtitle {
    font-weight: 300;
    color:#27374D;
    font-size: 1.2rem;
  }

  .box7 {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 4;
    grid-row-end: 5;
    background-color: white;
  }

  .angled-image-container {
    width: 24rem;
    display: flex;
    vertical-align: middle;
  }

  .angled-image {
    width: 100%;
    vertical-align: top;
    height: 100%;
  }

  .wall-image-container {
    width: 24rem;
    display: flex;
    vertical-align: middle;
  }

  .wall-image {
    width: 100%;
    vertical-align: top;
    height: 100%;
  }


  .box8 { /*wall pic*/
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 5;
    grid-row-end: 6;
    background: white;
  }

  .box9 { /*wall*/
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 5;
    grid-row-end: 6;
  }

  .wall-title {
    justify-content: flex-start;
    display: flex;
    font-size: 2rem;
    font-weight: 400;
    font-family: 'raleway';
  }

  .toja-price {
    font-family: 'raleway';
    font-weight: 400;
    font-family: 'raleway';
  }

  .wall-subtitle {
    font-weight: 300;
    font-family: 'raleway';
    color:#27374D;
    font-size: 1.2rem;
  }

  .toja-pros {
    font-family: 'raleway';
    color:#27374D;
  }

  .toja__feature {
    font-family: 'raleway';
    color: #27374D;
    font-size: 1.2rem;
  }
      
  .box10 { 
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 6;
    grid-row-end: 7;
  }
      
  .peaked-roof-title {
    display: flex;
    font-size: 2rem;
    font-weight: 400;
    font-family: 'raleway';  
    justify-content: flex-start;
    text-align: left;
  }

  .peaked-roof-subtitle {
    font-weight: 300;
    font-family: 'raleway';
    color:#27374D;
    font-size: 1.2rem;
  }

  .box11 {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 6;
    grid-row-end: 7;
    background-color: white;
  }

  .peaked-roof-image-container {
    width: 24rem;
    display: flex;
    vertical-align: middle;
    height: 22rem;
  }

  .peaked-roof-image {
    width: 100%;
    vertical-align: top;
    height: 100%;
  }

  .hexa-image-container {
    width: 24rem;
    display: flex;
    vertical-align: middle;
    height: 22rem;
  }

  .hexa-image {
    width: 100%;
    vertical-align: top;
    height: 100%;
  }

  .box12 {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 7;
    grid-row-end: 8;
    background-color: white;
  }

  .box13 { /*hexa*/
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 7;
    grid-row-end: 8;
  }

  .hexa-title {
    justify-content: flex-start;
    display: flex;
    font-size: 2rem;
    font-weight: 400;
    font-family: 'raleway';
  }

  .toja-price {
    font-family: 'raleway';
    font-weight: 400;
    font-family: 'raleway';
  }

  .hexa-subtitle {
    font-weight: 300;
    font-family: 'raleway';
    color:#27374D;
    font-size: 1.2rem;
  }

  .toja-pros {
    font-family: 'raleway';
    color:#27374D;
  }

  .toja__feature {
    font-family: 'raleway';
    color: #27374D;
    font-size: 1.2rem;
  }

  .box14 {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 8;
    grid-row-end: 9;
  }

  .triangle-title {
    display: flex;
    font-size: 2rem;
    font-weight: 400;
    font-family: 'raleway';  
    justify-content: flex-start;
    text-align: left;
  }

  .triangle-subtitle {
    font-weight: 300;
    font-family: 'raleway';
    color:#27374D;
    font-size: 1.2rem;
  }

  .box15 {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 8;
    grid-row-end: 9;
    background-color: white;
  }

  .triangle-image-container {
    width: 24rem;
    display: flex;
    vertical-align: middle;
    height: 19.2rem;
  }

  .triangle-image {
    width: 100%;
    vertical-align: top;
    height: 100%;
  }
    
  /*HD title*/
.box16 {
  grid-column-start:2;
  grid-column-end: 4;
  grid-row-start: 9;
  grid-row-end: 10;
  font-family: 'raleway';
  font-size: 2.5rem;
  color:#27374D;
  text-align: center;
  font-weight: bold;
  padding:1 rem;
  background-color: #F5F5F5;
  border-radius: 4px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/*HD subtitle*/
.box17 {
  grid-column-start: 2;
  grid-column-end: 4;
  grid-row-start: 10;
  grid-row-end: 11;
  font-family: 'raleway';
  font-weight: 200;
  color: #fff;
  display: flex;
  justify-content: space-around;
  align-content: center;
  align-items: center;
  font-size: 2rem;
  background-color: #334766;
  padding: 1rem;
  border-radius: 4px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  font-size: 1.5rem;
}

.box18 {
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 11;
  grid-row-end: 12;
}

.bd-image-container {
  width: 30rem;
  display: flex;
  vertical-align: middle;
  height: 22rem;
}

.bd-image {
  width: 100%;
  vertical-align: top;
  height: 100%;
  transition: transform 0.3s ease-in-out;
}

.box19 {
grid-column-start: 2;
grid-column-end: 3;
grid-row-start: 11;
grid-row-end: 12;
background-color: #F5F5F5;
  padding: 1rem;
  border-radius: 4px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  height: fit-content;
  color: #27374D;
  font-size: 1.2rem;
}

.cedar-title {
  justify-content: flex-start;
  display: flex;
  font-size: 2rem;
  font-weight: 400;
  font-family: 'raleway';
}

.toja-price {
  font-family: 'raleway';
  font-weight: 400;
  font-family: 'raleway';
}

.cedar-subtitle {
  font-weight: 300;
  font-family: 'raleway';
  color:#27374D;
  font-size: 1.2rem;
  
}

.toja-pros {
  font-family: 'raleway';
  color:#27374D;
}

.toja__feature {
  font-family: 'raleway';
  color: #27374D;
  font-size: 1.2rem;
}


.box20 { 
grid-column-start: 2;
grid-column-end: 3;
grid-row-start: 12;
grid-row-end: 13;
background-color: #F5F5F5;
  padding: 1rem;
  border-radius: 4px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  height: fit-content;
  color: #27374D;
  font-size: 1.2rem;
}

.cedar-title {
  justify-content: flex-start;
  display: flex;
  font-size: 2rem;
  font-weight: 400;
  font-family: 'raleway';
  justify-content: flex-start;
  text-align: left;
  margin: 0;
}

.toja-price {
  font-family: 'raleway';
  font-weight: 400;
  font-family: 'raleway';
}

.cedar-subtitle {
  font-weight: 300;
  font-family: 'raleway';
  color:#27374D;
  font-size: 1.2rem;
}

.toja-pros {
  font-family: 'raleway';
  color:#27374D;
}

.toja__feature {
  font-family: 'raleway';
  color: #27374D;
  font-size: 1.2rem;
}

.box21 {
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 12;
  grid-row-end: 13;
}

.bd-image-container {
  width: 30rem;
  display: flex;
  vertical-align: middle;
  height: 22rem;
}

.bd-image {
  width: 100%;
  vertical-align: top;
  height: 100%;
}

.box22 { 
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 13;
  grid-row-end: 14;
  background-color: #F5F5F5;
  padding: 1rem;
  border-radius: 4px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  height: fit-content;
  color: #27374D;
  font-size: 1.2rem;
  }

  .cedar-title {
    justify-content: flex-start;
    display: flex;
    font-size: 2rem;
    font-weight: 400;
    font-family: 'raleway';
    justify-content: flex-start;
    text-align: left;
    margin: 0;
  }
  
  .toja-price {
    font-family: 'raleway';
    font-weight: 400;
    font-family: 'raleway';
  }
  
  .cedar-subtitle {
    font-weight: 300;
    font-family: 'raleway';
    color:#27374D;
    font-size: 1.2rem;
  }
  
  .toja-pros {
    font-family: 'raleway';
    color:#27374D;
  }
  
  .toja__feature {
    font-family: 'raleway';
    color: #27374D;
    font-size: 1.2rem;
  }
  
  
  .box23 {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 13;
    grid-row-end: 14;
  }

  .bd-image-container {
    width: 30rem;
    display: flex;
    vertical-align: middle;
    height: 22rem;
  }
  
  .bd-image {
    width: 100%;
    vertical-align: top;
    height: 100%;
  }

    /*lowes title*/
.box24 {
  grid-column: span 2;
  text-align: center;
  font-family: 'Raleway', sans-serif;
  font-size: 2.5rem;
  color: #27374D;
  font-weight: bold;
  padding: 1rem;
  background-color: #F5F5F5;
  border-radius: 4px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  grid-row-start: 14;
  grid-row-end: 15;
  grid-column-start: 2;
  grid-column-end: 4;
}

/*lowes subtitle*/
.box25 {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #334766;
  color: #FFF;
  font-family: 'Raleway', sans-serif;
  padding: 1rem;
  border-radius: 4px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  grid-row-start: 15;
  grid-row-end: 16;
  grid-column-start: 2;
  grid-column-end: 4;
  font-size: 1.3rem;
}

.box26 {
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 16;
  grid-row-end: 17;
}

.bjorn-image-container {
  width: 30rem;
  display: flex;
  vertical-align: middle;
  height: 22rem;
}

.bjorn-image {
  width: 100%;
  vertical-align: top;
  height: 100%;
}

.box27 {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 16;
  grid-row-end: 17;
  background-color: #F5F5F5;
  padding: 1rem;
  border-radius: 4px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  height: fit-content;
  color: #27374D;
  font-size: 1.2rem;
}

.bjorn-title {
  justify-content: flex-start;
  display: flex;
  font-size: 2rem;
  font-weight: 400;
  font-family: 'raleway';
  justify-content: flex-start;
  text-align: left;
}

.toja-price {
  font-family: 'raleway';
  font-weight: 400;
  font-family: 'raleway';
}

.bjorn-subtitle {
  font-weight: 300;
  font-family: 'raleway';
  color: #27374D;
  font-size: 1.2rem;
}

.toja-pros {
  font-family: 'raleway';
  color:#27374D;
}

.toja__feature {
  font-family: 'raleway';
  color: #27374D;
  font-size: 1.2rem;
}

.box28 {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 17;
  grid-row-end: 18;
  background-color: #F5F5F5;
  padding: 1rem;
  border-radius: 4px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  height: fit-content;
  color: #27374D;
  font-size: 1.2rem;
}

.pylex-title {
  justify-content: flex-start;
  display: flex;
  font-size: 2rem;
  font-weight: 400;
  font-family: 'raleway';
  justify-content: flex-start;
  text-align: left;
}

.toja-price {
  font-family: 'raleway';
  font-weight: 400;
  font-family: 'raleway';
}

.pylex-subtitle {
  font-weight: 300;
  font-family: 'raleway';
  color:#27374D;
  font-size: 1.2rem;
}

.toja-pros {
  font-family: 'raleway';
  color:#27374D;
}

.toja__feature {
  font-family: 'raleway';
  color: #27374D;
  font-size: 1.2rem;
}

.box29 {
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 17;
  grid-row-end: 18;
}

.pylex-image-container {
  width: 30rem;
  display: flex;
  vertical-align: middle;
  height: 22rem;
}

.pylex-image {
  width: 100%;
  vertical-align: top;
  height: 100%;
}

footer {
  height: 2.5rem;
  display:flex;
  align-items: center;
}

footer a {
  color: #27374D;
  font-size: 1rem;
  font-family: 'raleway';
  margin-left: 5rem;
  text-align: center;
  margin-top: 2rem;
}





@media (max-width: 480px) {

#background-video {
  
  width: 60rem;
  height: 75vh;
  object-fit: cover;
  left: 1rem;
  right: 0;
  top: 10rem;
  bottom: 0;
  z-index: -1;
  margin-top: 1rem;
}

.video-title {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #9DB2BF;
  font-size: 2rem;
  font-family: 'raleway';
  margin-top: -19rem;
  margin-left: 37rem;
  width: 55vw;
}

.video-subtitle {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #9DB2BF;
  font-size: 1.3rem;
  font-family: 'raleway';
  width: 95vw;
  margin-left: 33rem;
  margin-top: -0.5rem;
}


}



