html{
    background-color: #27374D;
   /* height: 100%;*/
}

#main-logo {
    font-family: "Bodoni Moda", serif;
    font-weight: bold;
    font-style: italic;
    font-size: 2rem;
    margin-top: 1.2rem;
    margin-bottom: 0rem;
    padding: 0;
    box-sizing: border-box;
}

@media (max-width: 40rem) {
    #main-logo {
        font-size: 2rem;
    }
}

.main-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #334766;
}

.main-header__brand {
    font-family: "raleway", sans-serif;
    color: #9DB2BF;
    font-size: 2rem;
    text-decoration: none;
    margin: 0 1rem;
}

.main-header__brand img {
    height: 8rem;
}

.main-nav {
    display: flex;
}

.main-nav__items {
    padding: 0;
    margin: 0;
    list-style: none;
    font-family: "raleway", sans-serif;
    vertical-align: text-top;
    display:flex;
    align-items: center;
}

.main-nav__item {
    margin: 0 .75rem;
    font-size: 1rem;
}

.main-nav__item a {
    text-decoration: none;
    color: #9DB2BF;
}

.main-nav__item a:hover {
    color: white;
}

.main-nav__item a:active {
    color: white;
}

.main-nav__item--cta {
    background: white;
    padding: .5rem;
    border-radius: .5rem;
}

.main-nav__item--cta a:hover {
    color: #27374D;
}

.main-title {
    color: #DDE6ED;
    text-align: center;
    box-sizing: border-box;
    margin: 3rem;
    padding: 0;
    font-family: 'raleway';
    font-size: 3rem 3rem 0 3rem;
} 

.basic-paragraph {
    color:#DDE6ED;
    font-family: 'raleway';
    font-size: 1.5rem; 
    margin: 3rem 3rem 0 3rem;
}

.subtitle {
    color:#9DB2BF;
    font-family: "raleway";
    font-size: 2rem;
    margin: 3rem 3rem 0 3rem;
}

.lists {
    list-style-type: none;
    margin: 3rem 3rem 0 3rem;
    display: grid;
}

.list-item {
    color: #DDE6ED;
    font-size: 1.5rem;
    font-family: 'raleway';
    list-style-type: none;
    margin-bottom: 1rem;
    display: grid;
}

a:hover {
    color:#DDE6ED;
}

a:active {
  color:#DDE6ED;
  text-decoration: none;
}

a:visited {
  color: #9DB2BF; 
  text-decoration: none;
}

.image-container {
    width: 24rem;
    display: flex;
    vertical-align: middle;
}

.list-image {
    width: 100%;
    vertical-align: top;
    height: 100%;
  }
  
.grid-wrapper {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: auto;
}

.grid-box-one {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
}

.grid-box-two {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
}

.grid-box-three {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 4;
}

.grid-box-four {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 4;
    grid-row-end: 5;
}

.grid-box-five {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 5;
    grid-row-end: 6;
}

.grid-box-six {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 6;
    grid-row-end: 7;
}

.grid-box-seven {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 6;
    grid-row-end: 7;
}

.grid-box-eight {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 7;
    grid-row-end: 8;
}

.grid-box-9 {
    grid-column-start:1;
    grid-column-end: 2;
    grid-row-start: 8;
    grid-row-end: 9;
}

.grid-box-10 {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 8;
    grid-row-end: 9;
}

.grid-box-11 {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 9;
    grid-row-end: 10;
}

.grid-box-12 {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 10;
    grid-row-end: 11;
}

.grid-box-13 {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 10;
    grid-row-end: 11;
}

.grid-box-14 {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 11;
    grid-row-end: 12;
}

.grid-box-15 {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 12;
    grid-row-end: 13;
}

.grid-box-16 {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 12;
    grid-row-end: 13;
}

.grid-box-17 {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 13;
    grid-row-end: 14;
}

.grid-box-18 {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 14;
    grid-row-end: 15;
}

.grid-box-19 {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 15;
    grid-row-end: 16;
}

.grid-box-20 {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 16;
    grid-row-end: 17;
}

.grid-box-21 {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 17;
    grid-row-end: 18;
}


.grid-box-22 {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 18;
    grid-row-end: 19;
}

.grid-box-23 {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 19;
    grid-row-end: 20;
}

.grid-box-24 {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 20;
    grid-row-end: 21;
}

.grid-box-25 {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 21;
    grid-row-end: 22;
}

.grid-box-26 {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 22;
    grid-row-end: 23;
}

.grid-box-27 {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 23;
    grid-row-end: 24;
}

.grid-box-28 {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 24;
    grid-row-end: 25;
}

.grid-box-29 {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 25;
    grid-row-end: 26;
}

.grid-box-30 {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 26;
    grid-row-end: 27;
}


.grid-box-31 {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 27;
    grid-row-end: 28;
}

.grid-box-32 {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 28;
    grid-row-end: 29;
}

